*  {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
}

header {
	background-image: linear-gradient(rgba(42, 58, 74, 0.85),rgba(42, 58, 74, 0.85)), url(refund.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

#main {
	background: brown;
	width: 100%;
	height: 80px;
}

#main .logo {
	float: left;
}

.logo {
	background: url(pdip.png);
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: cover;
	margin-left: 40px;
	margin-top: -25px;
}

#main nav ul {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

#main nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 8px;
	line-height: 50px;
}

#main nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 6px 13px;
	transition: 0.4 all ease-out;
}

#main nav ul li a.active,
#main nav ul li a:hover {
	background: fd4a47;
	color: #fff;
	transition: 0.4s all ease-out;
}